USE [master]
GO
/****** Object:  Database [C:\USERS\USER\SOURCE\REPOS\MYLIBRARY\MYLIBRARY\BIN\DEBUG\MYLIBRARYDB.MDF]    Script Date: 5/31/2025 10:40:11 PM ******/
CREATE DATABASE [C:\USERS\USER\SOURCE\REPOS\MYLIBRARY\MYLIBRARY\BIN\DEBUG\MYLIBRARYDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyLibraryDB', FILENAME = N'C:\Users\User\source\repos\MyLibrary\MyLibrary\bin\Debug\MyLibraryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyLibraryDB_log', FILENAME = N'C:\Users\User\source\repos\MyLibrary\MyLibrary\bin\Debug\MyLibraryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\USER\SOURCE\REPOS\MYLIBRARY\MYLIBRARY\BIN\DEBUG\MYLIBRARYDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\USER\SOURCE\REPOS\MYLIBRARY\MYLIBRARY\BIN\DEBUG\MYLIBRARYDB.MDF]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 5/31/2025 10:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[Year] [int] NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[TotalCopies] [int] NOT NULL,
	[AvailableCopies] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borrowers]    Script Date: 5/31/2025 10:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borrowers](
	[BorrowerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[DateRegistered] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fines]    Script Date: 5/31/2025 10:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fines](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[IssueID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Paid] [bit] NULL,
	[PaymentDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssuedBooks]    Script Date: 5/31/2025 10:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssuedBooks](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[BorrowerID] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[Returned] [bit] NULL,
	[FineAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/31/2025 10:40:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IsAdmin] [bit] NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [TotalCopies]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [AvailableCopies]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
ALTER TABLE [dbo].[Borrowers] ADD  DEFAULT (getdate()) FOR [DateRegistered]
GO
ALTER TABLE [dbo].[Fines] ADD  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[IssuedBooks] ADD  DEFAULT ((0)) FOR [Returned]
GO
ALTER TABLE [dbo].[IssuedBooks] ADD  DEFAULT ((0)) FOR [FineAmount]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Fines]  WITH CHECK ADD  CONSTRAINT [FK_Fines_IssuedBooks] FOREIGN KEY([IssueID])
REFERENCES [dbo].[IssuedBooks] ([IssueID])
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [FK_Fines_IssuedBooks]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Books]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [FK_IssuedBooks_Borrowers] FOREIGN KEY([BorrowerID])
REFERENCES [dbo].[Borrowers] ([BorrowerID])
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [FK_IssuedBooks_Borrowers]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CHK_Copies] CHECK  (([AvailableCopies]<=[TotalCopies] AND [AvailableCopies]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CHK_Copies]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CHK_Year] CHECK  (([Year]>=(1000) AND [Year]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CHK_Year]
GO
ALTER TABLE [dbo].[IssuedBooks]  WITH CHECK ADD  CONSTRAINT [CHK_Dates] CHECK  (([DueDate]>=[IssueDate] AND ([ReturnDate] IS NULL OR [ReturnDate]>=[IssueDate])))
GO
ALTER TABLE [dbo].[IssuedBooks] CHECK CONSTRAINT [CHK_Dates]
GO
USE [master]
GO
